<div class="container">
  <h1>Here are every tasks that you need to do</h1>
  <ul class="list-group">
    <% @tasks.each do |task| %>
      <%= link_to task_path(task) do |t| %>
        <li class="list-group-item"><%= task.name %></li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to("New Task", new_task_path, class: "btn btn-primary") %>
</div>
